<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Markus P, veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/vp_banner_2025_AA.jpg" alt="Kursuse banner">
  <h1>Markus P, veebiprogrammeerimine</h1>
  <p>See leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ega oma mõistlikku sisu</p>
  <hr>
  <ul>
    <li><a href="/">Avalehele</a></li>
    <li><a href="/eestifilm">Eesti filmide avaleht</a></li>
  </ul>
  <h2>Eesti filmidega seotud inimeste lisamine</h2>
  <form method="POST">
    <label for="jobTitle">Pane siia ameti nimetus</label>
    <input id="jobTitle" type="text" name="jobTitle" placeholder="Ameti nimetus" required>
    <textarea id="positionDescriptionInput" name="positionDescriptionInput" cols="100" rows="5" placeholder="Ameti lühikirjeldus..."></textarea>
    <input id="jobSubmit" name="jobSubmit" type="submit" value="Salvesta">

  </form>
</ul>
</body>
</html>